.box{
  float: left;
  background: rgb(30, 30, 30);
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

.yes
{
    background: red;
}
.test
{
  animation-name: right;
  animation-duration: 1s;
}
.testD
{
  animation-name: rightD;
  animation-duration: 1s;
}



@keyframes right {
  0%   {transform : translateX(-100px)}
  100% {transform : translateX(0px)}
}
@keyframes rightD {
  0%   {transform : translateX(-100px)}
  100% {transform : translateX(0px)}
}
