.box{
  margin: 0px;
  float: left;
  background: rgb(30, 30, 30);
  border-radius: 3vw;
  width: 15vw;
  height: 15vw;
  transition: .5s ease;
  position: absolute;
}

.null{
  background: grey;
  z-index: -10;
}
.yes
{
    background: red;
}
.turq
{
    background: rgb(0, 131, 140);
}

#background{
  background: rgb(230, 230, 230);
  position: absolute;
  width: 75vw;
  height: 75vw;
  left: 12.5vw;
  top: 10vw;
  z-index: -1;
  border-radius: 30px;
  
}

.rumble{
  animation: rumble .4s;
}

@keyframes rumble{
  0% {transform: rotate(0deg);}
  15% {transform: rotate(6deg);}
  45% {transform: rotate(-6deg);}
  60% {transform: rotate(6deg);}
  75% {transform: rotate(-6deg);}
  100% {transform: rotate(0deg);}
}