.box{
  float: left;
  background: rgb(30, 30, 30);
  border-radius: 20px;
  width: 20vw;
  height: 20vw;
  transition: transform 0.6s ease;
  right: 10vw;
  position: relative;
}

.null{
  background: grey;
  z-index: -10;
}
.yes
{
    background: red;
}