.box{
  float: left;
  background: rgb(30, 30, 30);
  border-radius: 20px;
  width: 100px;
  height: 100px;
  transition: all 0.6s ease;
}

.null{
  background: grey;
  z-index: -10;
}
.yes
{
    background: red;
}