.box{
  margin: 0px;
  float: left;
  background: rgb(30, 30, 30);
  border-radius: 20px;
  width: 15vw;
  height: 15vw;
  transition: .5s ease;
  position: absolute;
}

.null{
  background: grey;
  z-index: -10;
}
.yes
{
    background: red;
}

#background{
  background: rgb(230, 230, 230);
  position: absolute;
  width: 75vw;
  height: 75vw;
  left: 12.5vw;
  top: 10vw;
  z-index: -1;
  border-radius: 30px;
  
}