.box{
  float: left;
  background: rgb(30, 30, 30);
  border-radius: 20px;
  width: 100px;
  height: 100px;
  transition-duration: .5s;
  animation: float 1s;
}

.null{
  background: grey;
  z-index: -10;
}
.yes
{
    background: red;
}

.test{
  animation: float 1s;
}

@keyframes float{
  0%{ transform: translateY(0px)}
  80% { transform: translateY(-9px) }
  100% { transform: translateY(-10px) }
}