body{
  background: rgb(240, 240, 23=40);
}

.box{
  margin: 0px;
  float: left;
  background: rgb(30, 30, 30);
  border-radius: 3vw;
  width: 15.1vw;
  height: 15.1vw;
  transition: .5s ease;
  position: absolute;
}
.byebye{
  display: none;
}
.null{
  background: grey;
  z-index: -10;
}
.yes
{
    background: red;
}
.turq
{
    background: rgb(0, 131, 140);
}
/* Alternate colours*/
.purple
{
    background: rgb(119, 0, 140);
}
.green
{
    background: rgb(0, 160, 160);
}
.orange
{
    background: orange;
}
.blue
{
    background: rgb(0, 84, 140);
}

.small{
  width: 6vw;
  height: 6vw;
  border-radius: 1vw;
}

#background{
  background: rgb(220, 220, 220);
  position: absolute;
  width: 75vw;
  height: 75vw;
  left: 12.5vw;
  top: 50vw;
  z-index: -1;
  border-radius: 30px;
  
}

.rumble{
  animation: rumble .4s;
}
@keyframes rumble{
  0% {transform: rotate(0deg);}
  15% {transform: rotate(8deg);}
  45% {transform: rotate(-8deg);}
  60% {transform: rotate(8deg);}
  75% {transform: rotate(-8deg);}
  100% {transform: rotate(0deg);}
}

.selected{
  background: grey;
  animation: rumble .4s;
}