.box{
  float: left;
  background: rgb(30, 30, 30);
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

.yes
{
    background: red;
}
.test
{
  background: green;
  animation-name: example;
  animation-duration: 1s;
}



@keyframes example {
  0%   {transform : translateX(0px)}
  100% {transform : translateX(100px)}
}
